flow.json
[{"id":"4d11d238fccc0226","type":"tab","label":"Barcode Reader","disabled":false,"info":"","env":[]},{"id":"8b843c53ecf4da61","type":"tab","label":"RemoteTerminal","disabled":false,"info":"","env":[]},{"id":"b18b64df96344563","type":"ui_group","name":"BarcodeReader","tab":"9b0033e9a1827b70","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"eee46c66545257bd","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9b0033e9a1827b70","type":"ui_tab","name":"BarcodeReader","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"eeb9dc69b783e074","type":"ui_tab","name":"RemoteTerminal","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e0983d4ee55f1640","type":"ui_group","name":"RemoteTerminal","tab":"eeb9dc69b783e074","order":1,"disp":true,"width":"12","collapse":false,"className":"remoteterminal"},{"id":"37ff57b69bb0b106","type":"ui_group","name":"IMAGE-code","tab":"eeb9dc69b783e074","order":2,"disp":true,"width":"5","collapse":false,"className":""},{"id":"bbbcd5ab652dddf1","type":"ui_button","z":"4d11d238fccc0226","name":"","group":"b18b64df96344563","order":1,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","className":"","icon":"fa-long-arrow-right fa-5","payload":"number","payloadType":"flow","topic":"topic","topicType":"msg","x":70,"y":220,"wires":[["5867087873535835","7677ecc9eaa8ea33"]]},{"id":"5345a4bf1dd79a7d","type":"change","z":"4d11d238fccc0226","name":"","rules":[{"t":"set","p":"autoGenerate","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":260,"wires":[["5867087873535835"]]},{"id":"5867087873535835","type":"Barcode Reader","z":"4d11d238fccc0226","name":"","number":0,"autoGenerate":false,"x":660,"y":220,"wires":[["c71296353f0669eb"]]},{"id":"7677ecc9eaa8ea33","type":"ui_text_input","z":"4d11d238fccc0226","name":"Ввод кода","label":"Введите код","tooltip":"","group":"b18b64df96344563","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":370,"y":180,"wires":[["5867087873535835"]]},{"id":"dd3840a2c03af5dd","type":"ui_text_input","z":"4d11d238fccc0226","name":"Приходящее значение ноды","label":"","tooltip":"","group":"b18b64df96344563","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"number","sendOnBlur":true,"className":"","topicType":"msg","x":1450,"y":220,"wires":[["bd6d566bb996844a"]]},{"id":"c71296353f0669eb","type":"Barcode Generator","z":"4d11d238fccc0226","name":"","data":"number","dataType":"msg","barcode":"qrcode","barcodeType":"barcode","options":"","optionsType":"ui","sendProperty":"qr","props":[{"p":"rotate","v":"N","vt":"str"},{"p":"includetext","v":"true","vt":"bool"},{"p":"textxalign","v":"center","vt":"str"},{"p":"backgroundcolor","v":"ffffff","vt":"str"}],"x":830,"y":220,"wires":[["2212eb062a991526","6f6f1780fa6d0d70"]]},{"id":"2212eb062a991526","type":"Barcode Decoder","z":"4d11d238fccc0226","name":"","data":"qr","dataType":"msg","tryharder":"false","tryharderType":"bool","QR_CODE":true,"DATA_MATRIX":false,"PDF_417":false,"EAN_8":false,"EAN_13":false,"CODE_39":true,"CODE_128":false,"ITF":false,"RSS_14":false,"x":1010,"y":220,"wires":[["5e962d78e1aab361"]]},{"id":"5e962d78e1aab361","type":"function","z":"4d11d238fccc0226","name":"function 1","func":"msg.payload =msg.number;\nString(msg.payload);\nmsg.qr = \"\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":220,"wires":[["dd3840a2c03af5dd"]]},{"id":"6f6f1780fa6d0d70","type":"function","z":"4d11d238fccc0226","name":"function 2","func":"msg.qr = msg.qr;\nmsg.image = \"https://upload.wikimedia.org/wikipedia/ru/b/b1/Logo_rudn_znak.png\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":360,"wires":[["d3c7e43add09daf8"]]},{"id":"d3c7e43add09daf8","type":"jimp-image","z":"4d11d238fccc0226","name":"","data":"image","dataType":"msg","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"image","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":330,"y":360,"wires":[["f6a9c553ea8e7f3c","80eb6faaf0e17c2c"]]},{"id":"f6a9c553ea8e7f3c","type":"image viewer","z":"4d11d238fccc0226","name":"","width":160,"data":"image","dataType":"msg","active":true,"x":270,"y":500,"wires":[[]]},{"id":"80eb6faaf0e17c2c","type":"jimp-image","z":"4d11d238fccc0226","name":"","data":"qr","dataType":"msg","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"qr","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":510,"y":360,"wires":[["13df7855197d3197","16e4c022b8bda275"]]},{"id":"13df7855197d3197","type":"image viewer","z":"4d11d238fccc0226","name":"","width":160,"data":"qr","dataType":"msg","active":true,"x":470,"y":500,"wires":[[]]},{"id":"e6113efd705c2838","type":"jimp-image","z":"4d11d238fccc0226","name":"","data":"image","dataType":"msg","ret":"img","parameter1":"qr","parameter1Type":"msg","parameter2":"100","parameter2Type":"num","parameter3":"65","parameter3Type":"num","parameter4":"BLEND_SOURCE_OVER","parameter4Type":"Blend","parameter5":"0.8","parameter5Type":"num","parameter6":"1","parameter6Type":"num","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":6,"jimpFunction":"composite","selectedJimpFunction":{"name":"composite","fn":"composite","description":"composites another Jimp image over this image at x, y","parameters":[{"name":"src","type":"","required":true,"hint":"the source image (a Jimp instance)","defaultType":"msg","defaultValue":"payload"},{"name":"x","type":"num","required":true,"hint":"the x position to blit the image"},{"name":"y","type":"num","required":true,"hint":"the y position to blit the image"},{"name":"mode","group":"options","type":"blend","required":true,"hint":"what blend mode to use"},{"name":"opacitySource","group":"options","type":"num","required":true,"hint":"opacity of src image 0.0 to 1.0"},{"name":"opacityDest","group":"options","type":"num","required":true,"hint":"opacity of src image 0.0 to 1.0"}]},"x":860,"y":360,"wires":[["760828d8976a75ea","2c3d19df0169a1be"]]},{"id":"760828d8976a75ea","type":"image viewer","z":"4d11d238fccc0226","name":"","width":160,"data":"payload","dataType":"msg","active":true,"x":700,"y":500,"wires":[[]]},{"id":"16e4c022b8bda275","type":"jimp-image","z":"4d11d238fccc0226","name":"","data":"qr","dataType":"msg","ret":"img","parameter1":"900","parameter1Type":"num","parameter2":"900","parameter2Type":"num","parameter3":"RESIZE_NEAREST_NEIGHBOR","parameter3Type":"resizeMode","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"qr","sendPropertyType":"msg","parameterCount":3,"jimpFunction":"resize","selectedJimpFunction":{"name":"resize","fn":"resize","description":"resize the image. One of the w or h parameters can be set to automatic (\"Jimp.AUTO\" or -1).","parameters":[{"name":"w","type":"num|auto","required":true,"hint":"the width to resize the image to (or \"Jimp.AUTO\" or -1)"},{"name":"h","type":"num|auto","required":true,"hint":"the height to resize the image to (or \"Jimp.AUTO\" or -1)"},{"name":"mode","type":"resizeMode","required":false,"hint":"a scaling method (e.g. Jimp.RESIZE_BEZIER)"}]},"x":680,"y":360,"wires":[["e6113efd705c2838"]]},{"id":"2c3d19df0169a1be","type":"jimp-image","z":"4d11d238fccc0226","name":"","data":"payload","dataType":"msg","ret":"b64","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":1030,"y":360,"wires":[["13e88d19ed1fd043"]]},{"id":"13e88d19ed1fd043","type":"ui_template","z":"4d11d238fccc0226","group":"b18b64df96344563","name":"отображение кода","order":4,"width":"6","height":"6","format":"<div>\n    <img src={{msg.payload}} width=\"300\" height=\"300\" </div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1210,"y":360,"wires":[[]]},{"id":"20b105feda095eb6","type":"ui_switch","z":"4d11d238fccc0226","name":"","label":"Автогенерация","tooltip":"","group":"b18b64df96344563","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":80,"y":260,"wires":[["5345a4bf1dd79a7d"]]},{"id":"bd6d566bb996844a","type":"debug","z":"4d11d238fccc0226","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1540,"y":340,"wires":[]},{"id":"b5112d4f5af989b4","type":"remote terminal","z":"8b843c53ecf4da61","name":"УдалённыйТерминал-Нода","L1":true,"L2":true,"L3":true,"L4":true,"button1":"0","button2":"0","button3":"0","text1":"","text2":"","text3":"","text4":"","x":960,"y":540,"wires":[["4d5367dc477429b2","0c1d981156e65718","8fb43dcc66684c7f"]]},{"id":"3d05dbfaaf439629","type":"ui_switch","z":"8b843c53ecf4da61","name":"Светодиод 1","label":"","tooltip":"","group":"e0983d4ee55f1640","order":1,"width":3,"height":3,"passthru":true,"decouple":"false","topic":"L2","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-lightbulb-o fa-5x","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"fa-lightbulb-o fa-4x","offcolor":"#660000","animate":false,"className":"led1","x":310,"y":260,"wires":[["74770b08b5352bdc"]]},{"id":"74770b08b5352bdc","type":"change","z":"8b843c53ecf4da61","name":"","rules":[{"t":"set","p":"L1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":260,"wires":[["c2752ef63812875b"]]},{"id":"1c3dd239a41475ea","type":"change","z":"8b843c53ecf4da61","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":440,"wires":[["c2752ef63812875b"]]},{"id":"4e799cd037881b64","type":"ui_button","z":"8b843c53ecf4da61","name":"Кнопка 1","group":"e0983d4ee55f1640","order":5,"width":3,"height":3,"passthru":false,"label":"","tooltip":"","color":"red","bgcolor":"#ffffff","className":"btn1","icon":"fa-circle fa-5x","payload":"button1","payloadType":"str","topic":"topic","topicType":"msg","x":300,"y":440,"wires":[["1c3dd239a41475ea"]]},{"id":"c2752ef63812875b","type":"function","z":"8b843c53ecf4da61","name":"function 3","func":"msg.payload = [\n    flow.get(\"L1\") || 0,\n    flow.get(\"L2\") || 0,\n    flow.get(\"L3\") || 0,\n    flow.get(\"L4\") || 0,\n    flow.get(\"button1\") || 0,\n    flow.get(\"button2\") || 0,\n    flow.get(\"button3\") || 0,\n    flow.get(\"switch\") || 0,\n    flow.get(\"numberText\") || '',\n    flow.get(\"text\") || ' ',\n].join(':');\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":540,"wires":[["b5112d4f5af989b4"]]},{"id":"8fb3b82422ab5c40","type":"change","z":"8b843c53ecf4da61","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":480,"wires":[["c2752ef63812875b"]]},{"id":"116632adfd46ee0c","type":"ui_button","z":"8b843c53ecf4da61","name":"Кнопка 2","group":"e0983d4ee55f1640","order":6,"width":3,"height":3,"passthru":false,"label":"","tooltip":"","color":"#F4CE14","bgcolor":"#ffffff","className":"btn2","icon":"fa-circle fa-5x","payload":"button2","payloadType":"str","topic":"topic","topicType":"msg","x":300,"y":480,"wires":[["8fb3b82422ab5c40"]]},{"id":"6363f107939deff5","type":"change","z":"8b843c53ecf4da61","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":520,"wires":[["c2752ef63812875b"]]},{"id":"1d57473e6d6a09bb","type":"ui_button","z":"8b843c53ecf4da61","name":"Кнопка 3","group":"e0983d4ee55f1640","order":7,"width":3,"height":3,"passthru":false,"label":"","tooltip":"","color":"blue","bgcolor":"#ffffff","className":"btn3","icon":"fa-circle fa-5x","payload":"button3","payloadType":"str","topic":"topic","topicType":"msg","x":300,"y":520,"wires":[["6363f107939deff5"]]},{"id":"a1c1555dfaf2c5a0","type":"ui_switch","z":"8b843c53ecf4da61","name":"Светодиод 2","label":"","tooltip":"","group":"e0983d4ee55f1640","order":2,"width":3,"height":3,"passthru":true,"decouple":"false","topic":"L1","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-lightbulb-o fa-5x","oncolor":"#F4CE14","offvalue":"0","offvalueType":"num","officon":"fa-lightbulb-o fa-4x","offcolor":"#615208","animate":false,"className":"led2","x":310,"y":300,"wires":[["01ef24ca82f94f71"]]},{"id":"01ef24ca82f94f71","type":"change","z":"8b843c53ecf4da61","name":"","rules":[{"t":"set","p":"L2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":300,"wires":[["c2752ef63812875b"]]},{"id":"767f9ddb1b086bb7","type":"ui_switch","z":"8b843c53ecf4da61","name":"Светодиод 3","label":"","tooltip":"","group":"e0983d4ee55f1640","order":3,"width":3,"height":3,"passthru":true,"decouple":"false","topic":"L3","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-lightbulb-o fa-5x","oncolor":"blue","offvalue":"0","offvalueType":"num","officon":"fa-lightbulb-o fa-4x","offcolor":"#000066","animate":false,"className":"led3","x":310,"y":340,"wires":[["7a76139e6fb3e00f"]]},{"id":"7a76139e6fb3e00f","type":"change","z":"8b843c53ecf4da61","name":"","rules":[{"t":"set","p":"L3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":340,"wires":[["c2752ef63812875b"]]},{"id":"dba28320de401bfe","type":"ui_switch","z":"8b843c53ecf4da61","name":"Светодиод 4","label":"","tooltip":"","group":"e0983d4ee55f1640","order":4,"width":3,"height":3,"passthru":true,"decouple":"false","topic":"L4","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-lightbulb-o fa-5x","oncolor":"green","offvalue":"0","offvalueType":"num","officon":"fa-lightbulb-o fa-4x","offcolor":"#003300","animate":false,"className":"led4","x":310,"y":380,"wires":[["0c6dd3a7f2a96f06"]]},{"id":"0c6dd3a7f2a96f06","type":"change","z":"8b843c53ecf4da61","name":"","rules":[{"t":"set","p":"L4","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":380,"wires":[["c2752ef63812875b"]]},{"id":"4d5367dc477429b2","type":"ui_template","z":"8b843c53ecf4da61","group":"e0983d4ee55f1640","name":"","order":12,"width":12,"height":2,"format":"<div id=\"remote-terminal\">\n    <h1>\n    <p1>{{msg.payload}}</p1>\n    </h1>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1200,"y":460,"wires":[["d40ed6fc7d4ed46e"]]},{"id":"4f679d8a25750331","type":"ui_switch","z":"8b843c53ecf4da61","name":"Переключатель","label":"","tooltip":"","group":"e0983d4ee55f1640","order":8,"width":3,"height":7,"passthru":true,"decouple":"false","topic":"switch","topicType":"msg","style":"","onvalue":"0","onvalueType":"num","onicon":"fa-power-off fa-4x","oncolor":"#bf9494","offvalue":"1","offvalueType":"num","officon":"fa-power-off fa-5x","offcolor":"red","animate":false,"className":"","x":100,"y":440,"wires":[["f1a87b4af8790c1a","1e819526e77c56f1"]]},{"id":"f1a87b4af8790c1a","type":"change","z":"8b843c53ecf4da61","name":"","rules":[{"t":"set","p":"switch","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":560,"wires":[["c2752ef63812875b"]]},{"id":"71ef929ac00edf8a","type":"ui_dropdown","z":"8b843c53ecf4da61","name":"Выбор строки","label":"","tooltip":"","place":"Выберите строку записи","group":"e0983d4ee55f1640","order":10,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"Строка 1","value":1,"type":"num"},{"label":"Строка 2","value":"2","type":"str"},{"label":"Строка 3","value":"3","type":"str"},{"label":"Строка 4","value":"4","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"dropD","x":280,"y":600,"wires":[["eeec6e6ad2fe29c6"]]},{"id":"eeec6e6ad2fe29c6","type":"change","z":"8b843c53ecf4da61","name":"","rules":[{"t":"set","p":"numberText","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":600,"wires":[[]]},{"id":"bb8bec373920b76a","type":"ui_text_input","z":"8b843c53ecf4da61","name":"Ввод текста","label":"Введите текст","tooltip":"","group":"e0983d4ee55f1640","order":11,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"topic","sendOnBlur":true,"className":"textIn","topicType":"msg","x":310,"y":640,"wires":[["a0ed7d7def8fa9d2"]]},{"id":"a0ed7d7def8fa9d2","type":"change","z":"8b843c53ecf4da61","name":"","rules":[{"t":"set","p":"text","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":640,"wires":[["c2752ef63812875b"]]},{"id":"0c1d981156e65718","type":"ui_template","z":"8b843c53ecf4da61","group":"e0983d4ee55f1640","name":"","order":9,"width":9,"height":4,"format":"<style>\n    .remoteterminal {\n        border: 10px solid gray;\n    }\n\n    .remoteterminal .tabloTerminal {\n        border: 1px solid gray;\n        margin: 1px;\n    }\n    div {\n    margin: 10px;\n    fontfamily: OffBit;\n    }\n\n</style>\n<div id=\"remote-terminal\">\n    <h2>\n        <p2>\n        {{msg.rTerminalText[0]}}<br />\n        {{msg.rTerminalText[1]}}<br />\n        {{msg.rTerminalText[2]}}<br />\n        {{msg.rTerminalText[3]}}<br />\n        </p2>\n    </h2>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"tabloTerminal","x":1200,"y":500,"wires":[[]]},{"id":"d40ed6fc7d4ed46e","type":"debug","z":"8b843c53ecf4da61","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1340,"y":460,"wires":[]},{"id":"8fb43dcc66684c7f","type":"function","z":"8b843c53ecf4da61","name":"function 4","func":"msg.qr = msg.payload;\nmsg.image = \"https://upload.wikimedia.org/wikipedia/ru/b/b1/Logo_rudn_znak.png\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":740,"wires":[["7c79cb1ad0cdda77"]]},{"id":"7c79cb1ad0cdda77","type":"jimp-image","z":"8b843c53ecf4da61","name":"","data":"image","dataType":"msg","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"image","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":580,"y":740,"wires":[["684c63a2d664ea34","35216da8c0d37c17"]]},{"id":"684c63a2d664ea34","type":"image viewer","z":"8b843c53ecf4da61","name":"","width":160,"data":"image","dataType":"msg","active":true,"x":520,"y":880,"wires":[[]]},{"id":"33b78a89195f90a2","type":"jimp-image","z":"8b843c53ecf4da61","name":"","data":"qr","dataType":"msg","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"qr","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":890,"y":740,"wires":[["1e7229349424b486","3d66992dbde1ffdf"]]},{"id":"1e7229349424b486","type":"image viewer","z":"8b843c53ecf4da61","name":"","width":160,"data":"qr","dataType":"msg","active":true,"x":840,"y":880,"wires":[[]]},{"id":"e8d26d2241c9bf8c","type":"jimp-image","z":"8b843c53ecf4da61","name":"","data":"image","dataType":"msg","ret":"img","parameter1":"qr","parameter1Type":"msg","parameter2":"100","parameter2Type":"num","parameter3":"65","parameter3Type":"num","parameter4":"BLEND_SOURCE_OVER","parameter4Type":"Blend","parameter5":"0.8","parameter5Type":"num","parameter6":"1","parameter6Type":"num","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":6,"jimpFunction":"composite","selectedJimpFunction":{"name":"composite","fn":"composite","description":"composites another Jimp image over this image at x, y","parameters":[{"name":"src","type":"","required":true,"hint":"the source image (a Jimp instance)","defaultType":"msg","defaultValue":"payload"},{"name":"x","type":"num","required":true,"hint":"the x position to blit the image"},{"name":"y","type":"num","required":true,"hint":"the y position to blit the image"},{"name":"mode","group":"options","type":"blend","required":true,"hint":"what blend mode to use"},{"name":"opacitySource","group":"options","type":"num","required":true,"hint":"opacity of src image 0.0 to 1.0"},{"name":"opacityDest","group":"options","type":"num","required":true,"hint":"opacity of src image 0.0 to 1.0"}]},"x":1240,"y":740,"wires":[["8b9157a62bebace5","4304b9cb5579cc0f"]]},{"id":"8b9157a62bebace5","type":"image viewer","z":"8b843c53ecf4da61","name":"","width":160,"data":"payload","dataType":"msg","active":true,"x":1080,"y":880,"wires":[[]]},{"id":"3d66992dbde1ffdf","type":"jimp-image","z":"8b843c53ecf4da61","name":"","data":"qr","dataType":"msg","ret":"img","parameter1":"900","parameter1Type":"num","parameter2":"900","parameter2Type":"num","parameter3":"RESIZE_NEAREST_NEIGHBOR","parameter3Type":"resizeMode","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"qr","sendPropertyType":"msg","parameterCount":3,"jimpFunction":"resize","selectedJimpFunction":{"name":"resize","fn":"resize","description":"resize the image. One of the w or h parameters can be set to automatic (\"Jimp.AUTO\" or -1).","parameters":[{"name":"w","type":"num|auto","required":true,"hint":"the width to resize the image to (or \"Jimp.AUTO\" or -1)"},{"name":"h","type":"num|auto","required":true,"hint":"the height to resize the image to (or \"Jimp.AUTO\" or -1)"},{"name":"mode","type":"resizeMode","required":false,"hint":"a scaling method (e.g. Jimp.RESIZE_BEZIER)"}]},"x":1060,"y":740,"wires":[["e8d26d2241c9bf8c"]]},{"id":"4304b9cb5579cc0f","type":"jimp-image","z":"8b843c53ecf4da61","name":"","data":"payload","dataType":"msg","ret":"b64","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":1410,"y":740,"wires":[["0f8d6a144382f8d1"]]},{"id":"0f8d6a144382f8d1","type":"ui_template","z":"8b843c53ecf4da61","group":"37ff57b69bb0b106","name":"","order":12,"width":"5","height":"5","format":"<div>\n    <img src={{msg.payload}} width=\"200\" height=\"200\" </div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1550,"y":740,"wires":[[]]},{"id":"35216da8c0d37c17","type":"Barcode Generator","z":"8b843c53ecf4da61","name":"","data":"qr","dataType":"msg","barcode":"qrcode","barcodeType":"barcode","options":"","optionsType":"ui","sendProperty":"qr","props":[{"p":"rotate","v":"N","vt":"str"},{"p":"includetext","v":"true","vt":"bool"},{"p":"textxalign","v":"center","vt":"str"},{"p":"backgroundcolor","v":"ffffff","vt":"str"}],"x":750,"y":740,"wires":[["33b78a89195f90a2"]]},{"id":"1e819526e77c56f1","type":"trigger","z":"8b843c53ecf4da61","name":"","op1":"0","op2":"0","op1type":"num","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"min","reset":"1","bytopic":"topic","topic":"switch","outputs":1,"x":120,"y":320,"wires":[["3d05dbfaaf439629","a1c1555dfaf2c5a0","767f9ddb1b086bb7","dba28320de401bfe"]]}]